<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Storefront</title>
</head>
<body>
    <ul>
       <!--  {% for order in orders %}
        <li> {{order_CartItem_cart}} </li> -->
        <!-- <li>{{order.customer_id}} {{order.customer.first_name}} {{order.customer.last_name}} {{order.payment_status}} </li> -->
        <!-- <li> {{order.product.title}} </li> -->
        <!--Get the last 5 orders with their customers and item (incl prodcut) -->
        <!-- <li> {{order.customer.first_name}}  </li> -->
        <!-- {% endfor %}   -->

        {{result}}
    </ul>

</body>
</html>

